@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SokchoBadaBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaBatang.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font {
    font-family: 'SokchoBadaBatang', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
#box {
    text-align: center;
    margin-top: 100px;
    margin-left: 430px;
    margin-right: 430px;
}
#head {
    text-align: left;
    font-size: 22px;
}
#nav{
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 1px .3rem hsla(0, 0%, 80%, .8);
}
.center {
    font-size: 90px;
    margin-bottom: 30px;
}
#top {
margin-top: 15px;
}

#eunah1 {
float: left;
margin-right: 50px;
}
#title {
color: #006B56;
font-size: 25px;
text-align: left;

}
hr {
width: 360px;
background:#E1E1E1;
margin-top: 6px;
margin-bottom: 6px;
height: 2px;
border: 0;
}
ul {
list-style-position: inside;
}
.content {
font-size: 16px;
text-align: left;
margin-bottom: 9px;
margin-top: 9px;
}
fieldset {
    border: solid 3px #E1E1E1;
}
legend {
    color: #006B56;
    font-size: 25px;
}
th {
    border-right: solid 3px #E1E1E1;
}
th, td{
    padding: 20px;
}
td {
    float: left;
}
.video{
    margin-top: 40px;
}
footer{
    margin-top: 40px;
    margin-bottom: 20px;
}